# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.sqlite3

# Static files
staticfiles/

# Media uploads
media/

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db