{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Email Sent - Carbon Footprint Tracker</title>
  <link rel="stylesheet" href="{% static 'factory/css/forgot-password.css' %}">
</head>
<body class="forgot-page">

  <div class="forgot-container">
    <h2>Check Your Inbox</h2>
    <p>
      If the email you entered is registered, we’ve sent a password reset link to your inbox.  
      Please check your email and follow the link to reset your password.
    </p>

    <div class="back-login">
      <a href="{% url 'login' %}" class="back-btn">← Back to Login</a>
    </div>
  </div>

</body>
</html>
